body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  margin-top: 60px;
  margin-right: 60px;
  top: 0;
  right: 0;
  position: absolute;
}

.link_about {
  margin-left: 50px;
}

.link_contact {
  margin-left: 50px;
}

.link_home,
.link_about,
.link_contact,
.link_home:visited,
.link_about:visited,
.link_contact:visited,
.link_home:focus,
.link_about:focus,
.link_contact:focus {
  text-decoration: none;
  color: #bbb;
  letter-spacing: 0.125em;
}
